body {
  min-height: 2000px;
  padding-top: 125px;
}

html,body        {height:100%;}
.wrapper         {width:80%;height:100%;margin:35px auto;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

.wide {
    width:100%;
}

#tweet {
    margin-right:10px;
}

#share div {
    vertical-align:top;
}

.social {
    line-height: 10px;
    padding-top:15px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.centered {
	text-align: center;
}

.white {
	background-color: #fff;
}

.black {
	background-color: #000;
}

.navbar-default {
	background-color: #fff;
	background-image: none;
	height: 90px;
}

.indiegogoButton {
	width: 290px;
	margin-top:0px;
	margin-bottom:10px;
}

.pmsButton {
	width: 130px;
	margin-top:0px;
	margin-bottom:20px;
}

p {
	font-size: 20px;
	margin-top: 37px;
}

.wide80 {
	width:80%;
	display: inline-block;
	margin-bottom:15px;
}

.footer {
	margin-top:20px;
}

.icon {
	height:35px;
	margin:12px;
}